# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Local data uploads
uploads/
data/
